/* import fonts from fonts.css */
@import url(./fonts.css);

/* start navigation */
.header_area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
}
.header_area .main-menu .navbar{
    padding: 1rem 20rem;
}
/* end navigation */